* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}
  .calculator {
    background-color: #121a1d;
  }

  .calculator #display {
    color: #f8fafb;
  }

  .calculator button#clear {
    background-color: #c51f49;
    color: #e4dedf;
  }

  .calculator button.btn-number {
    background-color: #ffffff;
    color: #151e22;
  }

  .calculator button.btn-operator {
    background-color: #b170df;
    color: #380036;
  }
  
  .calculator button.btn-equal {
    background-color: #dda50b;
    color: #1f1a1a;
  }
  